.icon, .transparentIcon {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon {
    background: rgb(0,116,204);
}

button.transparent {
    background: transparent;
    color: var(--color-blue-400);
    box-shadow: none !important;
}

button.transparent.alarm {
    background: transparent;
    color: crimson;
}

button.alarm {
    background: crimson;
}

button.small {
    width: 1rem;
    height: 1rem;
}


button.hero {
    min-width: 164px;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 600;
}

button.hero {
    min-width: 164px;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}

/*button.trained {*/
/*    background-image: linear-gradient(-45deg,var(--color-blue-500), var(--color-blue-400));*/
/*}*/