.predictionCon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
}

.leftColumn {
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageToClassify {
    background-color: gainsboro;
    width: 192px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.imageToClassify img, .imageToClassify video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.imageToClassify img {
    object-fit: cover;
}

.inplaceButtons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.rightColumn {
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.predictionTable {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 0.25rem;
    justify-items: start;
}

.progressBar {
    align-self: center;
    width: 100%;
    position: relative;
}

.progressBar * {
    background-color: var(--color-blue-400);
    border-radius: 200px;
    height: .5rem;
}

.uploadButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}