
body {
  margin: 0;
}


#root {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Outfit", system-ui;
  font-weight: 400;
  font-variant: normal;
}

button {
  height: 2rem;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 88px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(0,116,204);
  color: white;
}


header {
  padding: 1rem 2rem;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}