:root {
  --color-blue-400: rgb(0,116,204);
  --color-blue-500: rgb(4, 90, 156);
}
body {
  margin: 0;
  background-color: #eee;
}


#root {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Outfit", system-ui;
  font-weight: 400;
  font-variant: normal;
}

button {
  height: 2rem;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 88px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background-color: var(--color-blue-400);
  color: white;
  border: none;
  outline: none !important;
  transition: all 0.2s ease-in-out;
}


button:hover {
  background-color: var(--color-blue-500);
  /*transform: scale(1.0125);*/
  transition: 0.2s all ease-in-out;
}

button:active {
  background-color: var(--color-blue-500);
  box-shadow: 0 0 12px rgba(0,0,0,0.25) inset;
}

header {
  padding: 1rem 2rem;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

footer {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
footer div {
  justify-items: start;
}

section {
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
  max-width: 800px;
}

